*{
  padding: 0px;
  margin: 0px;
  font-family: Tahoma, sans-serif;
  /*background-color: #5a91bf;*/
}
#container {
  width: 100%;
  background-color: #5a91bf;
  overflow: auto;
}
input {
  width: 93%;
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  background-color: #5a91bf;
  color: white;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #152837;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #152837;
   opacity:  1;
   font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #152837;
   opacity:  1;
   font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #152837;
   font-style: italic;
}
.form_boxes {
  width: 31%;
  /*margin: 5px;*/
  padding: 5px;
  vertical-align: top;
  float: left;
}
label {
  padding: 0px 5px 5px 5px;
  font-size: .5em;
  color: white;
}
textarea {
  height: 70px;
  width: 93%;
  margin: 5px;
  padding: 5px;
  color: white;
  border: 1px solid white;
  background-color: #5a91bf;
}
@media screen and (max-width:641px) {
	.form_boxes {
		width: 100%;
    padding: 5px;
	}
  #form_box2 {
    width: 100%;
  }
  #form_box3 {
    width: 100%;
  }
}
@media screen and (max-width:320px) {
	#container {
		width: 320px;
	}
}
